<h12>Employee List</h2>
    <table class = "table table-striped">
        <thread>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th><th>
                    Email Id
                </th>
            </tr>
        </thread>
        <tbody>
            <tr *ngFor = "let employee of employees">
                <td>
                    {{employee.firstName}}
                </td>
                <td>
                    {{employee.lastName}}
                </td>
                <td>
                    {{employee.emailId}}
                </td>

            </tr>
        </tbody>
    </table>